<header>
  <nav>
    <form method ="POST" action="/admin/logout">
    <div id="links">
      <a href="/admin/main_page">Order Status</a>
      <a href="/admin/edit_menu">Edit Menu</a>
    </div>
      <div id="logoutsection">
        <button id="logout" class="btn btn-primary">Log out</button>
      </div>
      </form>
  </nav>
</header>
