<header>
  <nav>
    <div>
      <nav class='navbar navbar-fixed-top' style="background-color: #93c193;">
      <a class="nav-item nav-link" href="/admin/main_page">Order Status</a>
      <a class="nav-item nav-link" href="/admin/edit_menu">Edit Menu</a>
      <div>
      <form method ="POST" action="/admin/logout">
        <button>Log out</button>
      </form>
      </div>
    </div>
  </nav>
</header>
