<header>
  <nav>
    <div class="links">
      <a href="/admin/main_page">Order Status</a>
      <a href="/admin/edit_menu">Edit Menu</a>
    </div>
      <div>
      <form method ="POST" action="/admin/logout">
        <button id="logout">Log out</button>
      </form>
      </div>
  </nav>
</header>
