<footer class="footer" style="background-color: #93c193;">
  <div class="d-flex flex-row">
    <div class="p-2">Petit Gâteau</div>
    <div class="p-2">1345 Dundas St. West</div>
    <div class="p-2">(613)542-2431</div>
  </div>
</footer>
