<header>
  <nav>
    <div class="title">
    <h2>EVERYTHING RESTAURANT</h2>
    </div>
    <div>
        <a class="nav-item nav-link" href="/admin/login">Admin Login</a>
    </div>
  </nav>
</header>
