<header>
  <nav class='navbar navbar-fixed-top' style="background-color: #93c193;">
    <p class="homepage-logo">Petit Gâteau</p>
    <div>
      <a class="homepage" href="/">Home Page</a>
      <a class="admin-login" href="/admin/login">Admin Login</a>
    </div>
  </nav>
</header>
