<header>
  <nav>
    <div class="title">
    <h2>EVERYTHING RESTAURANT</h2>
    </div>
    <div>
      <form action="/login" method=POST>
        <a class="nav-item nav-link" href="/login">Admin Login</a>
      </form>
    </div>
  </nav>
</header>
