<header>
  <nav class='navbar navbar-fixed-top' style="background-color: #93c193;">
    <a class="homepage" href="/">Home Page</a>
    <a class="admin-login" href="/admin/login">Admin Login</a>
  </nav>
</header>
