<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Menu</title>
</head>
<body>
  <main style="margin: 1em;">
    <h3>Edit Menu</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Menu Item</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (const food in renderFoods) { %>
          <tr>
            <td><%= food.title %></td>
            <td><input type="button" value="Edit"></td>
            <td><button type="submit" value=>Delete</button></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </main>

</body>
</html>
