<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />
    <link rel="stylesshet" href="/styles/_header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <%- include('partials/_header') %>
    <h1>RESTAURANT NAME</h1>
    <div class="options">
      <button>Takeout</button>
      <button>Delivery</button>
    </div>
  </body>
    <form>
      <div class="takeout-reg">
        <h1>Registration for Takeout</h1>
        <p>Please fill in the required information below.</p>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" id="name" required><br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" id="email" required><br>

        <label for="phone"><b>Phone Number</b></label>
        <input type="tel" placeholder="Enter phone number" name="phone" id="phone" required><br>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
    <form>
      <div class="delivery-reg">
        <h1>Registration for Delivery</h1>
        <p>Please fill in the required information below.</p>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" id="name" required><br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" id="email" required><br>

        <label for="phone"><b>Phone Number</b></label>
        <input type="tel" placeholder="Enter phone number" name="phone" id="phone" required><br>
        <hr>
        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="please enter address" name="address" id="address" required><br>
        <hr>
        <label for="address"><b>Postal code</b></label>
        <input type="address" placeholder="please enter address" name="address" id="text" required><br>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
    <%- include('partials/_footer') %>
  </body>
</html>
