<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />
    <link rel="stylesshet" href="/styles/_header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/toggle.js"></script>
  </head>
  <body>
    <section>
      <!---Header Partial ---->
      <%- include('partials/_header') %>
      <h1>RESTAURANT NAME</h1>
    </section>
    <div class="options">
      <button id="takeout">Takeout</button>
      <button id="delivery">Delivery</button>
    </div>
  </body>
    <form method="POST" action="/">
      <div class="takeout-reg">
        <h3>Registration for Takeout</h3>
        <p>Please fill in the required information below.</p>
        <hr>
        <div class="field">
          <label for="name"><b>Name</b></label>
          <input class="text-box" type="text" placeholder="Enter Name" name="name" id="name" required><br>
        </div>
        <div class="field">
          <label for="email"><b>Email</b></label>
          <input class="text-box" type="text" placeholder="Enter email" name="email" id="email" required><br>
        </div>
        <div class="field">
          <label for="phone"><b>Phone Number</b></label>
          <input class="text-box" type="tel" placeholder="Enter phone number" name="phone" id="phone" required><br>
          <hr>
        </div>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
    <form method="POST" action="/">
      <div class="delivery-reg">
        <h3>Registration for Delivery</h3>
        <p>Please fill in the required information below.</p>
        <hr>
        <div class="field">
          <label for="name"><b>Name</b></label>
          <input class="text-box" type="text" placeholder="Enter Name" name="name" id="name" required><br>
        </div>
        <div class="field">
          <label for="email"><b>Email</b></label>
          <input class="text-box" type="text" placeholder="Enter email" name="email" id="email" required><br>
        </div>
        <div class="field">
          <label for="phone"><b>Phone Number</b></label>
          <input class="text-box" type="tel" placeholder="Enter phone number" name="phone" id="phone" required><br>
        </div>
        <hr>
        <div class="field">
          <label for="address"><b>Address</b></label>
          <input class="text-box" type="text" placeholder="please enter address" name="address" id="address" required><br>
        </div>
        <hr>
        <div class="field">
          <label for="address"><b>Postal code</b></label>
          <input class="text-box" type="address" placeholder="please enter postal code" name="postal_code" id="text" required><br>
        </div>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
  </body>
  <!-- Footer Partial ---->
  <%- include('partials/_footer') %>
</html>
