<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Menu </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />
    <link rel="stylesshet" href="/styles/_header.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/toggle.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <div class="menu_items">
        <h3>Menu </h3>
        <div>
          <img class="food_picture1" src="">
          <button type="button" class="add_menu_btn"> + </button>
        </div>
      </div>

      <div class="order_summary">
        <h3> Your Order </h3>

        <div class="order list">

        </div>
      </div>
    </main>

    </div>



    <%- include('partials/_footer') %>
  </body>
</html>
