nav {
  background-color: #93c193;
  display: flex;

  #links {
    color: white;
  }

  #logoutsection {
    display: flex;
    justify-content: flex-end;

    #logout {
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
