$font-stack:    Helvetica, sans-serif;

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: black;
  padding-right: 3em;
  font-family: 'Lora', serif;
  width: 100vw;
  background-color: #93c193;
  position: fixed;
  top: 0;
}

nav {
  width: 100vw;
  height: 3em;
}
