body {
  .orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 5em;
    .orders-not-yet-confirmed {
      margin: solid black;
      span {
        font-size: 20px;
      }
    };
    .confirmation-of-order {
      margin: 10px;
      input {
        resize: none;
        border: none;
        border-bottom: 4px solid #93c193;
        background-color: #abc5ab96;
        margin-bottom: 10px;
        height: 2em;
      }
      span {
        font-size: 20px;
      }
    }
    #confirmation {
      margin: 10px;
      width: 5vw;
      border: white;
      color: white;
      background-color: #93c193;
      font-size: 20px;
      padding: 10px;
      width: 60%;
      &:hover {
        box-shadow: 10px 10px #729b72;
      }
    }
  };
};








