$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: pink;
}

.takeout-reg {
  display: flex;
  flex-direction: column;
  display: none;
}

.delivery-reg {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  display:none;
}

form {
  width: 50%;
}

.options {
  display: flex;
  justify-content: space-evenly;
}


