$font-stack:    Helvetica, sans-serif;
$primary-color: black;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #aaddbb9e;
  height: 100vh;

  section{
    background-color: lightblue;
    width: 100%;
  }

  .options {
    height: 10vh; //sets max height and width of the buttons
    width: 100%;
  }

    #takeout{
      width: 25vw;
      background-color: #93c193;
    }

    #delivery{
      width: 25vw;
      background-color: #93c193;
    }

  h1 {
    display: flex;
    color: $primary-color;
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .text-box {
    height: 2rem;
    display: flex;

  }

  table, th, td {
    border-collapse: collapse;
  }
  hr {                              // These remove black line between text fields
    border:1px solid black;
    border-top: none;
    border-bottom: none;

  }

}

.takeout-reg {
  flex-direction: column;
  display: none;
}

.delivery-reg {
  flex-direction: column;
  align-items: space-evenly;
  display:none;
}

form {
  display: flex;
  background-color: #fff5bb8a;
  width: 90vw;
}

.options {
  display: flex;
  justify-content: space-evenly;
}


