body{
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  h1,h3,h4 {
    align-self: center;
  }
  main{
  background: rgba(147,193,155,0.3);


  p {
      display: flex;
      justify-content: center;
    }
  }
}
