$font-stack:    Helvetica, sans-serif;

body{
  display: flex;
  font: 100% $font-stack;
  flex-direction: column;

  h1,h3,h4 {
    align-self: center;
  }
  main{
  background: rgba(147,193,155,0.3);


  p {
      display: flex;
      justify-content: center;
    }
  }
}
